<tr style="line-height:0px">
  <td width="100%" style="height:45px;border-top-left-radius: 4px;background-color:#286090;width:100%;margin:0px auto;border-top-right-radius: 4px;" align="center" height="1">
    <div style="color:white;font-size:20px;font-family:proxima_nova,'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif;"><%= @subject %></div>
  </td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;border:1px #dceaf5 solid;line-height:25px" border="0" align="center">
      <tbody>
      <tr>
        <td colspan="3" height="30"></td>
      </tr>
      <tr>
        <td width="36"></td>
        <td width="454" align="left" style="color:#444444;border-collapse:collapse;font-size:11pt;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';max-width:454px" valign="top">
          Dear <%= @username %>,
          <p>Your password has been updated successfully.</p>
          <br>P.S. If you face any issues at all, do not hesitate to email us at <a style="color:#0e9dd7" href="mailto:support@mapsynq.com">support@mapsynq.com</a>
        </td>
        <td width="36"></td>
      </tr>
      <tr>
        <td colspan="3" height="36"></td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>